body{
  /*  background-color: orange;*/
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
h1{
  font-size: 70px;
  color: #ffffff;
  /* text-align: center; */
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 328px;
  margin-left: 98px;
  line-height: 1.75;

}
h2{
  font-size: 50px;
  color: black;
}
.container{
width: 1024px;
height: 698px;
margin:0 auto;
border: 2px solid white;
}
header{
  background: url(../img/first-bg.jpg) no-repeat;
width: 1348px;
height:698px;

}
.title{
  font-size: 70px;
  color: black;
  /* text-align: center; */
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin-top: 328px;
  margin-left: 98px;
  line-height: 1.75;
}
