body{
  /*  background-color: orange;*/
}
h1{
  font-size: 70px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  margin-top: 180px;

}
h2{
  font-size: 50px;
  color: black;
}
.container{
width: 1200px;
margin:0 auto;
border: 2px solid white;
}
header{
  background: url(../img/first-bg.jpg) no-repeat center top/cover ;

}
