body{
  padding: 0px;
  margin: 0px;
  font-family: 'Arial', sans-serif;

}
div{
  box-sizing: border-box;
}
h1{
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;

  text-align: center;
  padding-top: 220px;

}
header{
  width: 1024px;
  height: 400px;
  margin: auto;
  background-image: url(../img/first-bg.jpg);
}
.title{
  
}
